<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://image.shutterstock.com/image-vector/copyright-symbol-icon-c-letter-260nw-1565723974.jpg">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

    <title>Credit - Card Services</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

    <div class="container">
        <div class="header clearfix ">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/about">About</a></li>
                    <li role="presentation"><a href="/pricing">Pricing</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Will People Continue your Credit Card Services ??</h3>
        </div>

        <div class="jumbotron">
            <h1>AI based Retention System</h1>
            <p class="lead">Here we present you with one of the most important features of our system . You just have to enter basic detail of the customer or you can also upload the whole "csv" file and get to know which customer will be retained and which will leave the services within 6 months we have accuracy of more than 99.9% </p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div>
        <h2 style="color:#0020ff;">{{ prediction_text }}</h2>
        
        <!-- <h1> The person will <mark>{{ prediction_text }}</mark> text.</h1> -->

        <h1 class="mx-auto my-0">Try it for Free and you can also check out our <a class ="text-uppercase">Pricing</a></h1>
        <h1 class="h3 mb-0 text-gray-800"> WORRY NOT! Just enter following details of Customer</h1>
        <br>
        <form action="{{ url_for('predict')}}" method="post">
            <div class="form-floating mb-3">
                <label for="floatingInput " >Enter Gender : If Male enter 1 ; If Female enter 0</label>
                <input type="number" name = "inp1" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Senior Citizen (age>60) : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name = "inp2" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >What was the tenure he/she served?</label>
                <input type="number" name = "inp3" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the customer uses Phone Services : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp4" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person uses Multiple Services : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp4.1" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person uses Internet Services : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp5" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person uses Device Protection : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp6" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person uses Tech Support : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp7" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person Stream TV : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp8" class="form-control" id="floatingInput" >
                <br>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput " >Does the person Stream Movies : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp9" class="form-control" id="floatingInput" >
                <br>
            </div> <div class="form-floating mb-3">
                <label for="floatingInput " >Have the person entered Contract : If Yes enter 1 ; If No enter 0</label>
                <input type="number" name ="inp10" class="form-control" id="floatingInput" >
                <br>
            </div> 
            <div class="form-floating mb-3">
                <label for="floatingInput " >Monthly charges (that CC service) takes from the customer </label>
                <input type="number" name ="inp11" class="form-control" id="floatingInput" >
                <br>
            <!-- </div>
            <div class="form-floating mb-3"> -->
                <label for="floatingInput " >Yearly charges that the CC services charges from the customer</label>
                <input type="number" name ="inp12" class="form-control" id="floatingInput" >
                <br>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>

            <br>
            <br> 
        </form>
    </div>
</body>

</html>